<div class="btn-group">
    <a title="{{ 'add'|trans }}" href="{{ path('wixmp_seller_plan_add',{storeHash:storeHash}) }}" class="btn btn-outline-custom">
        <i class="fa fa-plus"></i>
        {{ 'wix_wixmp_create_plan'|trans}}
    </a>
</div>