<div class="btn-group">
    <span data-toggle="modal" data-target="#add_payout" class="btn btn-outline-custom" title="{% if area == 'mp-wix-seller' %}{{ 'create_withdraw'|trans }}{% else %}{{ 'create_payout'|trans }}{% endif %}">
        <i class="fa fa-plus"></i>
        {% if area == 'mp-wix-seller' %}
            {{ 'create_withdraw'|trans }}
        {% else %}
            {{ 'create_payout'|trans }}
        {% endif %}
    </span>
</div>