{# <div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <div class="pricing-header pb-md-4 mx-auto text-center">
                    <h3 class="display-6">{{ "choose_plan"|trans }}</h3>
                    <p class="lead">{{ "choose_and_following_plan_and_make_payment"|trans }}</p>
                    <p>-----------------------------------------------------</p>
                    <p>**********</p>
                </div>
            </div>
            <div class="tile-body">
                {% include "application/views/common/current_plan.html.twig" %}
                <br>
                <div>
                    {% include "application/views/common/plan_list.html.twig" %}
                <div>
            </div>
        </div>
    </div>
</div> #}